<?xml version="1.0" encoding="utf-8" ?>
<DataProcesser>
  <assembly filename="DataProcessing.Model.dll">
    <class type="DataProcessing.Model.WD" />
    <class type="DataProcessing.Model.YW" />
    <class type="DataProcessing.Model.BJProcess" />
    <class type="DataProcessing.Model.LLProcess" />
    <class type="DataProcessing.Model.MCZProcess" />
    <class type="DataProcessing.Model.YHLQProcess" />
  </assembly>
</DataProcesser>
