<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>
  <dataConfiguration defaultDatabase="DasherStation" />
  <connectionStrings>
    <add name="DasherStation" connectionString="Data Source=192.168.1.202;Initial Catalog=DasherStation3;User ID=sa;Password=123"
      providerName="System.Data.SqlClient" />
    <add name="DasherStation.Properties.Settings.DasherStationConnectionString"
      connectionString="Data Source=DATABASE-SERVER;Initial Catalog=DasherStation3;Persist Security Info=True;User ID=sa;Password=123"
      providerName="System.Data.SqlClient" />
    <add name="DasherStation.Properties.Settings.DasherStationConnetionString"
      connectionString="Data Source=192.168.1.202;Initial Catalog=DasherStation3;Persist Security Info=True;User ID=sa;Password=123"
      providerName="System.Data.SqlClient" />
    <add name="Lab" connectionString="Data Source=DATABASE-SERVER;Initial Catalog=fszjzdbs;Persist Security Info=True;User ID=sa;Password=123;User Instance=False;Context Connection=False"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!-- 实验室程序安装目录 -->
    <add key="LabAppPath" value="D:\中百试验软件\Test.exe" />
    <!--库存报警时间间隔,单位分钟-->
    <add key="StockAlertReFresh" value="30" />
    <add key="CardName" value="DasherStation.common.KTCard" />
  </appSettings>
</configuration>